body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    margin: 0;
    color: #1e1e1e;
    background-color: rgb(250, 248, 243);
}

.logo {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #0f2f3f;
    margin-left: 90px;
    margin-top: 20px;
}

.logo span {
    font-weight: 400;
    color: #38b2ac;
}

.title {
    font-size: 36px;
    font-weight: 500;
    margin-top: 6%;
}

.card {
    width: 500px;
    max-width: 90%;
    margin: 10px auto;
    padding: 20px;
    background: #f9fbfa;
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #e0e0e0;
    transition: 0.5s;
}

.card:hover {
    background: #daf3ed;
    box-shadow: 3px 3px 8px rgb(27, 75, 83);
}

.i {
    width: 50px;
    height: 40px;
    margin-bottom: auto;
    margin-left: 2%;
    margin-right: 50px;
}

.text h3 {
    font-size: 20px;
    margin-bottom: 6px;
    margin-top: 10px;
    letter-spacing: 2px;
    font-weight: 400;
}

.text p {
    font-size: 14px;
    color: #555;
    margin-top: 0px;
    letter-spacing: 1px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    margin-top: 60px;
    display: flex;
    gap: 20px;
}

#last a {
    color: #1e1e1e;
    text-decoration: none;
}

#last {
    margin-top: 30px;
}

@media (max-width: 600px) {
    .logo {
        font-size: 32px;
        margin-left: 20px;
    }
    .title {
        font-size: 26px;
        text-align: center;
        margin-top: 40px;
    }
    .card {
        width: 90%;
        padding: 15px;
        margin: 12px auto;
    }
    .i {
        margin-right: 20px;
    }
    .img img {
        width: 60px;
    }
    #last {
        font-size: 12px;
        text-align: center;
        padding: 0 10px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .logo {
        font-size: 40px;
        margin-left: 40px;
    }
    .title {
        font-size: 30px;
        margin-top: 60px;
    }
    .card {
        width: 70%;
    }
    .img img {
        width: 75px;
    }
}

